:root {
	--color-primary: #4a6700;
	--color-on-primary: #ffffff;
	--color-primary-container: #bdf543;
	--color-on-primary-container: #141f00;
	--color-inverse-primary: #a2d824;
	--color-secondary: #5a6148;
	--color-on-secondary: #ffffff;
	--color-secondary-container: #dfe6c6;
	--color-on-secondary-container: #181e0a;
	--color-tertiary: #396660;
	--color-on-tertiary: #ffffff;
	--color-tertiary-container: #bcece4;
	--color-on-tertiary-container: #00201d;
	--color-error: #ba1a1a;
	--color-on-error: #ffffff;
	--color-container: #ffdad5;
	--color-on-error-container: #410002;
	--color-outline: #76786b;
	--color-outline-variant: #c6c8b8;
	--color-surface: #fbf9f1;
	--color-surface-bright: #fbf9f1;
	--color-surface-dim: #dcdad2;
	--color-surface-container: #f0eee6;
	--color-surface-container-highest: #e4e3db;
	--color-surface-container-high: #eae8e0;
	--color-surface-container-low: #f5f4ec;
	--color-surface-container-lowest: #ffffff;
	--color-on-surface: #1b1c17;
	--color-on-surface-variant: #45483c;
	--color-inverse-surface: #30312c;
	--color-inverse-on-surface: #f3f1e9;
	--color-scrim: #000000;

	/* deprecated */
	--color-background: #fefcf4;
	--color-on-background: #1b1c17;
	--color-surface-variant: #e2e4d4;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #a2d824;
		--color-on-primary: #253600;
		--color-primary-container: #374e00;
		--color-on-primary-container: #bdf543;
		--color-inverse-primary: #4a6700;
		--color-secondary: #c3caab;
		--color-on-secondary: #2c331d;
		--color-secondary-container: #434932;
		--color-on-secondary-container: #dfe6c6;
		--color-tertiary: #a1d0c8;
		--color-on-tertiary: #023732;
		--color-tertiary-container: #204e49;
		--color-on-tertiary-container: #bcece4;
		--color-error: #ffb4ab;
		--color-on-error: #690004;
		--color-container: #930009;
		--color-on-error-container: #ffb4ab;
		--color-outline: #8f9284;
		--color-outline-variant: #45483c;
		--color-surface: #1b1c17;
		--color-surface-bright: #393a34;
		--color-surface-dim: #13140f;
		--color-surface-container: #1f201b;
		--color-surface-container-highest: #353530;
		--color-surface-container-high: #2a2a25;
		--color-surface-container-low: #1b1c17;
		--color-surface-container-lowest: #0e0f0a;
		--color-on-surface: #e4e3db;
		--color-on-surface-variant: #c6c8b8;
		--color-inverse-surface: #e4e3db;
		--color-inverse-on-surface: #30312c;
		--color-scrim: #000000;

		/* deprecated */
		--color-background: #1b1c17;
		--color-on-background: #e4e3db;
		--color-surface-variant: #45483c;
	}

}